@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: ‘Titillium Web’, sans-serif; }

body {
  background-color: #faead2;
  border: 2px solid black; }

/* estilo navegador */
header {
  position: sticky;
  top: 0px;
  background-color: #b1fae2;
  color: burlywood; }
  header .color__menu {
    color: black; }
  header .nav-link {
    color: #f5ae51; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start; }
  ul li {
    display: inline;
    margin: 8px;
    padding: 8px; }

/* main */
.main .alinear__titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
  margin-top: 1rem; }

.main .animaciones__titulos:hover {
  transform: scale(1.1);
  transition: 1s; }

.main .foto__fabrica {
  width: 400px;
  height: 400px;
  margin: 3px; }

.main .foto__historiaytips {
  height: 320px;
  width: 320px;
  border: 2px solid #dac3ca;
  display: inline;
  margin: 12px;
  padding: 12px; }

form {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-direction: column; }
  form .tamaño__input {
    display: block;
    padding: 15px;
    margin: 15px; }
  form .organizar__sugerencias {
    color: black;
    font-size: 20px; }
  form .form {
    flex-direction: column; }
  form .configuracion__botones {
    padding: 4px;
    margin: 2px; }
  form .tamaño__foto {
    height: 70px;
    width: 70px;
    padding: 4px;
    margin: 4px; }
  form .alinear__p {
    align-self: center; }
  form .texto__contactanos {
    color: black;
    height: 1rem;
    font-size: 16px; }

/* estilo footer */
footer {
  position: relative;
  width: 99%; }
  footer .imagenes__footer {
    margin: 4px;
    padding: 4px;
    width: 60px;
    height: 60px; }
  footer .organizar__footer {
    display: contents;
    align-items: center;
    justify-content: first baseline;
    padding: 2px;
    margin: 2px; }
  footer .color__fuente {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cee40a; }

/* lo dejo aparte, porque si lo uno con el footer de arriba se rompe la pagina */
.footer {
  background-color: #3a2828;
  display: flex;
  align-items: center;
  flex-direction: row; }

@media (max-width: 720px) {
  /* responsive */
  .main {
    display: flex;
    flex-direction: column; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

.key1-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key2-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key3-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key4-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key5-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key6-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key7-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key8-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key9-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key10-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key11-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key12-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key13-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key14-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key15-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key16-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key17-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

.key18-card {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }
