@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: ‘Titillium Web’, sans-serif; }

body {
  background-color: #faead2;
  border: 2px solid black; }

/* estilo navegador */
header {
  position: sticky;
  top: 0px;
  background-color: #b1fae2;
  color: burlywood; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start; }

li {
  display: inline;
  margin: 8px;
  padding: 8px; }

.color__menu {
  color: black; }

.bg-lightblue {
  background-color: #bdf7e4; }

.nav-link {
  color: #f5ae51; }

.foto__fabrica {
  width: 400px;
  height: 400px;
  margin: 3px; }

/* main */
form {
  display: flex;
  align-items: center;
  justify-items: flex-start; }

/* estilo footer */
.imagenes__footer {
  margin: 4px;
  padding: 4px;
  width: 60px;
  height: 60px; }

footer {
  position: relative;
  width: 99%; }

.footer {
  background-color: #999696;
  display: flex;
  align-items: stretch;
  flex-direction: row; }

.organizar__footer {
  display: contents;
  align-items: center;
  justify-content: first baseline;
  padding: 2px;
  margin: 2px; }

.color__fuente {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1cfab0; }

/* Estilos Main */
.animaciones__titulos:hover {
  transform: scale(1.1);
  transition: 1s; }

.main__media {
  display: flex;
  flex-direction: column; }

.form {
  flex-direction: column; }

.foto__logo {
  display: inline;
  position: 0px;
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px; }

.tamaño__input {
  display: block;
  padding: 15px;
  margin: 15px; }

.organizar__h3 {
  color: #291701; }

.alinear__titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson; }

.foto__historiaytips {
  height: 320px;
  width: 320px;
  border: 2px solid #dac3ca;
  display: inline;
  margin: 12px;
  padding: 12px; }

.configuracion__productos {
  margin: 12px;
  padding: 12px;
  border: 4px solid #ffcaca;
  border-style: double; }

/* grid index */
.grid__agregado {
  display: grid;
  grid-template-areas: "uno tres cuatro" "dos dos dos";
  grid-template-columns: 1,4fr 0,20fr 1,4fr;
  grid-template-rows: 1fr 1fr; }

.grid__div1 {
  grid-area: uno; }

.grid__div2 {
  grid-area: dos; }

.grid__div3 {
  grid-area: tres; }

.grid__div4 {
  grid-area: cuatro; }

.grid__item {
  display: flex;
  flex-direction: column; }

/* grid pagian historia */
.grid__historia {
  display: grid;
  grid-template-areas: "1 1" "2 2" "3 3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.grid__divhistoria1 {
  grid-area: 1; }

.grid__divhistoria2 {
  grid-area: 2; }

.grid__divhistoria3 {
  grid-area: 3; }

@media (min-width: 541px) and (max-width: 720px) {
  /* responsive */
  .header {
    display: flex;
    flex-direction: column; }
  .main {
    display: flex;
    flex-direction: column; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

@media (min-width: 320px) and (max-width: 540px) {
  /* responsive */
  .header {
    display: flex;
    flex-direction: column; }
  .header__ul {
    display: flex;
    flex-direction: column; }
  .main {
    display: flex;
    flex-direction: column; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
