@import 'variables';
*{
    margin: 0px;
    padding: 0px;
    font-family:$fuente__principal;
}

body{
    background-color: rgb(250, 234, 210);
    border: 2px solid black
}
/* estilo navegador */
header{
    position:sticky;
    top: 0px;
    background-color: rgb(177, 250, 226);
    color:$background__principal;
    .color__menu{
        color: black;
    }
    .nav-link{
        color: rgb(245, 174, 81);
    }
    .tamaño__imgnav{
    width: 80px;
    height: 80px;
    }
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    li{
        display: inline;
        margin: 8px;
        padding: 8px;
    }
}


/* main */
.main{
    .alinear__titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        color: crimson;
        margin-top: 1rem;
    }
    .animaciones__titulos:hover{
        transform:scale(1.1);
        transition: 1s;
    }
    .foto__fabrica{
        width: 400px;
        height: 400px;
        margin: 3px;
    }
    .foto__historiaytips{
    height: 320px;
    width: 320px;
    border: 2px solid rgb(218, 195, 202);
    display: inline;
    margin: 12px;
    padding: 12px;
    }
    .tamaño__iframe{
        width: 560px;
        height: 315px;
    }
}

form{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
    .tamaño__input{
        display: block;
        padding: 15px;
        margin: 15px;
    }
    .organizar__sugerencias{
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    .form{
        flex-direction: column;
    }
    .configuracion__botones{
        padding: 4px;
        margin: 2px;
    }
    .tamaño__foto{
        height: 70px;
        width: 70px;
        padding: 4px;
        margin: 4px;
    }
    .alinear__p{
        align-self: center;
    }
    .texto__contactanos{
        color: rgb(0, 0, 0);
        height: 1rem;
        font-size: 16px;
    }
}


/* estilo footer */

footer{
    position:relative;
    width: 99%;
    .imagenes__footer{
        margin: 4px;
        padding: 4px;
        width: 60px;
        height: 60px;
    }
    .organizar__footer{
        display: contents;
        align-items: center;
        justify-content: first baseline;
        padding: 2px;
        margin: 2px;
    }
    .color__fuente{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(206, 228, 10);
    }
    
}

/* lo dejo aparte, porque si lo uno con el footer de arriba se rompe la pagina */
.footer{
    background-color: rgb(58, 40, 40);
    display:flex;
    align-items: center;
    flex-direction: row;
}

$productos:(key1:tostadas-sin-sal, key2:tostadas-salvado, key3:tostadas-multicereal, key4:tostadas-mesa, key5:tostadas-dulces, key6:tostadas-dulce-diet, key7:fajitas-blancas, key8:fajitas-chia, key9:fajitas-lino, key10:fajitas-lino-sinsal, key11:fajitas-multicereal, key12:fajitas-salvado, key13: fajitas-sesamo, key14:bizcochos-salvado-lino, key15:bizcochos-salvado-lino, key16:bizcochos-sin-sal, key17:grisines-blancos, key18:grisines-salvados );

@each $key, $producto in $productos{
    .#{$key}-card {
        margin: 12px;
        padding: 12px;
        border: 4px solid rgb(255, 202, 202);
        border-style: double;
    }
}


@media(max-width: 720px){
/* responsive */


    .main{
        display: flex;
        flex-direction: column;
    }


.footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
